body {
    magin: 0;
    padding: 0;
}

header {
    color: white
}

p {
    color: white
}

.container {
    display: flex;
    font-family: sans-serif;
    width: 100%;
}
.container > div {
    width: 40%;
    margin: 20px auto;
    text-align: center;
    border-radius: 10px;
}
.DHT22-1{
    background-color: black
}
.DHT22-2{
    background-color: black
}
.container .title {
    font-size: 1.2em;
}
.container .value {
    font-size: 2em;
}
header {
    text-align: center;
    font-size: 2em;
    padding: 15px;
    background-color: black
}